body{
    color: wheat;
    background-color: #212121;
    box-sizing: border-box;
  
}

.clock{    
   display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
      justify-content: center;
    align-items: center;
    
}

.dclock{
    color: #fff;
    text-align: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    background-color: #414141;
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
    flex-direction: column;
}