
body{
    background-color: #212121;
    color: aliceblue;
}

form{
    text-align: center;
    background-color: #313131;
}
h1{
    color: skyblue;
}
input{
    outline: none;
    border-radius: 10px;
    background-color: #414141;
    border: none;
    color: white;
    margin: 5px;
    padding: 5px;

}

.btn{
    margin: 20px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    margin-left: 6%;
    color: white;
    background-color: orangered;
    border: none;
}